PORT=3001
NODE_ENV=development

# Autenticação
JWT_SECRET=58840164-48b7-4ac2-8692-f7532aa34570

# 1. Ajuste de compatibilidade na URL (adicionado &uselibpqcompat=true)
DATABASE_URL=postgresql://postgres:classrpg300904@db.krpqzgsizvhpvyxizwua.supabase.co:5432/postgres?sslmode=require&uselibpqcompat=true

# 2. Ignorar a trava de certificado estrito apenas no ambiente local/WARP
NODE_TLS_REJECT_UNAUTHORIZED=0